TestApps/src/nq_xmlreader/testxsdfile.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="BubbleWorld">
 <xs:complexType>
  <xs:sequence>
   
   <xs:element name="Bubble" maxOccurs="unbounded">
    <xs:complexType>
      <xs:all>
       <xs:element name="posX" type="xs:string"/>
       <xs:element name="posY" type="xs:integer"/>
      </xs:all>
    </xs:complexType>
   </xs:element>

   
  </xs:sequence>  
 </xs:complexType>
</xs:element>

</xs:schema>